html,
body,
main,
.root,
.app {
  height: 100%;
  width: 100%;

  margin: 0;
}

.app {
  display: grid;

  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr 3fr;

  grid-template-areas:
    "head head head"
    "left main main"
    "left main main";
}

.head {
  grid-area: head;
  background-color: rgb(140, 94, 140);
}

.left {
  grid-area: left;
  background-color: silver;
  overflow: auto;
}

.main {
  grid-area: main;
  overflow: auto;
  padding: 10px;

  display: grid;
  /* height: 100%; */
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;

  /* min-width: 0; */

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto); */
}

.value-boxes {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.value-box {
  margin: 5px;
  border: 1px dashed lightsteelblue;
  height: 70px;
  width: 110px;
  padding: 10px;
}

.value-title {
  opacity: 0.7;
  font-weight: bolder;
  display: inline-block;
}

.value-value {
  font-size: 32px;
}

.device {
  margin: 10px;
  padding: 8px;
  border: 1px solid grey;
  cursor: pointer;
}

.device.selected {
  background-color: snow;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 5px solid black;
  border-left: 5px solid black;
}

.form label {
  display: block;
  margin-bottom: 10px;
}
